@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: var(--cream);
}

:root {
	--green: #00352a;
	--cream: #ffe6ce;
	--white: #fff;
}

@font-face {
	font-family: "gotham pro";
	src: url("../assets/fonts/GothamPro.woff2") format("woff2");
}

.hero {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5vw 10vw;
}

nav a h1 {
	position: relative;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2vw;
	color: var(--green);
}

nav a h1::after {
	position: absolute;
	font-family: "gotham pro";
	left: 50%;
	transform: translateX(-50%);
	bottom: -0.6vw;
	content: "cafe";
	text-transform: lowercase;
	font-size: 1vw;
	color: var(--green);
}

nav ul {
	display: flex;
	align-items: center;
	column-gap: 3vw;
}

nav li a {
	font-family: "gotham pro";
	font-size: 1.2vw;
	color: var(--green);
	text-transform: capitalize;
}

nav li:last-child a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.2vw 1vw;
	border-radius: 20px;
	color: var(--white);
	background-color: var(--green);
}

#container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10vw;
}

.hero .content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.hero .content h1 {
	position: relative;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 12vw;
	/* line-height: 1; */
	color: var(--green);
	margin-bottom: 3vw;
}

.hero .content h1::after {
	position: absolute;
	font-family: "gotham pro";
	left: 40%;
	transform: translateX(-50%);
	bottom: 0;
	text-transform: lowercase;
	content: "cafe";
	font-size: 3vw;
	color: var(--green);
}

.hero .content p {
	font-family: "gotham pro";
	font-size: 1.1vw;
	font-weight: 100;
	color: var(--green);
	margin-bottom: 6vw;
	line-height: 1.3;
}

.hero .content img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.content button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.3vw 5vw;
	border: none;
	text-transform: uppercase;
	font-weight: 100;
	border-radius: 50px;
	color: var(--white);
	background-color: var(--green);
	box-shadow: 5px 5px 10px #00352a50, 5px 5px 10px #00352a50;
	font-size: 1.2vw;
	cursor: pointer;
}

.catalog {
	height: 100vh;
	width: 100%;
	padding: 2vw 10vw 0;
	background-color: var(--white);
	overflow: hidden;
}

.catalog h1 {
	text-align: center;
	font-size: 5vw;
	font-family: "gotham pro";
	line-height: 1;
	text-transform: uppercase;
	color: var(--green);
}

.catalog h1 span {
	color: peru;
}

.catalog h2 {
	line-height: 1;
	text-align: center;
	font-weight: 100;
	font-size: 3vw;
	text-transform: uppercase;
	color: var(--green);
}

.catalog ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 3vw;
}

.catalog ul li {
	padding: 1vw 2vw;
	text-transform: uppercase;
	border-radius: 2vw;
	color: var(--white);
	background-color: #dbdada;
}

.catalog ul li:hover {
	background-color: var(--green);
	cursor: pointer;
	box-shadow: 5px 5px 10px #00352a50, 5px 5px 10px #00352a50;
}

.catalog ul i {
	font-size: 2vw;
	cursor: pointer;
	color: var(--green);
}

.catalog ol {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 3vw;
}

.catalog ol picture img {
	height: 60vh;
	/* width: 5vw; */
}

.catalog ol picture img {
	width: 100%;
	object-fit: cover;
}

.pick {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.pick picture {
	position: relative;
}

.pick .content img {
	position: absolute;
	width: 80%;
	object-fit: cover;
}

.pick .content img:first-child {
	top: -5vw;
	right: -10vw;
	width: 70%;
	transform: rotate(20deg);
}

.pick .content img:nth-child(2) {
	top: 5vw;
	left: -5vw;
	width: 70%;
	transform: rotate(-20deg);
}

.pick .content img:last-child {
	bottom: -5vw;
	right: -5vw;
	width: 70%;
	transform: rotate(80deg);
}

.pick .content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pick #container .content h1 {
	text-align: center;
	font-size: 4vw;
	font-family: "gotham pro";
	line-height: 1;
	text-transform: uppercase;
	color: var(--green);
}

.pick h1 span {
	color: peru;
}

.pick .content p {
	font-family: "gotham pro";
	font-size: 1vw;
	font-weight: 100;
	width: 85%;
	margin-left: 2vw;
	color: var(--green);
	margin-top: 2vw;
	line-height: 2;
}

.order {
	height: 100vh;
	width: 100vw;
	padding: 2vw 10vw 0;
	overflow: hidden;
	background-color: var(--white);
}

.order .content:has(h1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: -10vw;
}

.order picture {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.order h1 {
	text-align: center;
	font-size: 5vw;
	font-family: "gotham pro";
	line-height: 1;
	text-transform: uppercase;
	color: var(--green);
}

.order h1 span {
	color: peru;
}

.order h2 {
	line-height: 1;
	text-align: center;
	font-weight: 100;
	font-size: 3vw;
	text-transform: uppercase;
	color: var(--green);
}

form {
	height: 50vh;
	width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1vw;
}

form .input {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.8vw;
	border-bottom: 0.5px solid var(--green);
}

form input {
	width: 100%;
	padding: 0.5vw 1vw;
	font-weight: 600;
	font-family: "gotham pro";
	color: var(--green);
	border: none;
}

form input:focus {
	outline: none;
}

form button {
	margin-top: 5vw;
}

.order picture img {
	position: absolute;
	width: 40vw;
	object-fit: cover;
}

.order picture img:last-child {
	top: 0;
	right: 0;
}

.order picture img:first-child {
	top: 5vw;
	right: -10vw;
	transform: rotate(100deg);
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4vw 10vw;
	background-color: var(--green);
}

footer .icons {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 3vw;
	color: var(--white);
	margin-bottom: 1vw;
}

footer .icons i {
	font-size: 2.5vw;
	cursor: pointer;
}

footer ul {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5vw;
	text-transform: uppercase;
	font-size: 1.5vw;
	margin-bottom: 2vw;
}

footer ul li a {
	font-family: "gotham pro";
	color: var(--white);
}

footer hr {
	height: 0.1vw;
	width: 25%;
	background-color: var(--white);
	border: none;
}

@media (max-width: 768px) {
	nav a h1 {
		font-size: 3vw;
	}

	.hero .content {
		justify-content: space-evenly;
		align-items: center;
	}

	nav a h1::after {
		font-size: 1.2vw;
	}

	nav li a {
		font-size: 1.5vw;
	}

	nav li:last-child a {
		padding: 0.5vw 1.5vw;
	}

	.hero .content h1 {
		font-size: 15vw;
	}

	.hero .content p {
		font-size: 2vw;
	}

	.content button {
		border-radius: 2rem;
		font-size: 2vw;
	}
}
